body
{
    background-color: #fdeff2;
    font-size: 100%;
    width:100%;
    font-family:'Times New Roman', Times, serif;
}
div.top
{
    width:100%;
    
}
div.logo
{
    width:5%;
    margin-left:2%;
    margin-top: 1%;
    margin-right:1%;
    float:left;
}
div.tit
{
    width:27%;
    float:left;
    /*background: url(../images/img_logo.png) no-repeat left center;*/
    white-space: nowrap;
}
div.navi
{
    width:65%;
    display:inline;
    float:left;
}
h1
{
    font-size: 2.5em;
    float:left;
    width:80%;
}
nav
{
    font-size: 2.1875em;
}
li.nav
{
    display: inline;
}
a.nav:link,a.nav:visited
{
    color:#a44e60;
	font-weight:bold;
	text-align:center;
	padding:0.5em;
	text-decoration:none;
}
a.nav:hover,a.nav:active
{
    color:#a44e60;
    background-color: #e9dfe5;
}
a.nav
{
    text-decoration: none;
}
a.new:link,a.new:visited
{
    color:#e08196;
	font-weight:bold;
	text-align:center;
	padding:0.5em;
	text-decoration:none;
}
a.new:hover,a.new:active
{
    color:#e08196;
    background-color: #e9dfe5;
}
a.new
{
    text-decoration: none;
    font-size: 0.7em;
}
img.logo
{
    width:100%;
}
a.title:link,a.title:active,a.title:hover,a.title.visited,a.title
{
    text-decoration:none;
    color:black;
}
div.title
{
    float: left;
    width:95%;
    margin-left: 5%;
    font-family: Apple LiSung Light,SimHei,sans-serif;
    font-size: 1.5em;
}
div.subtitle
{
    float: left;
    width:95%;
    margin-left: 5%;
    font-family: Apple LiSung Light,SimHei,sans-serif;
    line-height: 200%;
}
h3
{
    font-family: Apple LiSung Light,SimHei,sans-serif;
    font-size: 1.5em;
}
footer
{
    font-family: Apple LiSung Light,SimHei,sans-serif;
    font-size: 1em;
    float:left;
    width:90%;
}
a.d-title
{
    text-decoration: none;
    color:royalblue;
    font-size: 1.2em;
}
#tsuki
{
    text-decoration: none;
    color:#fe6570;
    font-size: 1.2em;
}
#matcha
{
    color:#5da41b;
}
#eggtart
{
    color:#ffac12;
}

@media screen and (max-width: 500px){
    div.logo{
        width:20%;
        float:left;
        padding:0;
        margin:4% 4% 4% 4%;
        border:0;
    }
    div.tit{
        width:72%;
        float:left;
        font-size: 0.9em;
        white-space: nowrap;
    }
    div.navi{
        width:50%;
        font-size: 0.9em;
        padding-left: 5%;
        padding-right: 45%;
        padding-bottom: 5%;
    }
    ul.nav{
        padding:0;
        border:0;
        margin:0;
    }
    div.title{
        width:85%;
        margin-right: 10%;
    }
    div.subtitle{
        width:85%;
        margin-right: 10%;
    }
}