body
{
    background-color: #fdeff2;
    font-size: 100%;
    width:100%;
    font-family:'Times New Roman', Times, serif;
}
div.top
{
    width:100%;
    float:left;
}
div.logoandtitle
{
    width:40%;
    float:left;
    height:100%;
    background: url(../images/img_logo.png) no-repeat left center;
    background-size: 5em;
    margin-left:1.5em;
}
div.mad
{
    margin-left:6em;
}
div.navi
{
    width:70%;
    display:inline;
}
h1
{
    font-size: 2.5em;
    float:left;
    width:80%;
}
nav
{
    font-size: 2.1875em;
}
li.nav
{
    display: inline;
}
a.nav:link,a.nav:visited
{
    color:#a44e60;
	font-weight:bold;
	text-align:center;
	padding:0.5em;
	text-decoration:none;
}
a.nav:hover,a.nav:active
{
    color:#a44e60;
    background-color: #e9dfe5;
}
a.nav
{
    text-decoration: none;
}
img.logo
{
    float:left;
    width:15%;
    margin-left: 1.5em;
    margin-top: 1em;
    vertical-align:middle;
}
a.title:link,a.title:active,a.title:hover,a.title.visited,a.title
{
    text-decoration:none;
    color:black;
}
div.title
{
    display:block;
    float: left;
    width:90%;
    margin-left: 60px;
    font-family: Apple LiSung Light,SimHei,sans-serif;
    font-size: 1.5em;
    margin-top: -10px;
    height:80px;
}
div.subtitle
{
    display:block;
    float: left;
    width:90%;
    margin-left: 60px;
    padding-bottom: 10px;
    font-family: Apple LiSung Light,SimHei,sans-serif;
    line-height: 200%;
}
h3
{
    font-family: Apple LiSung Light,SimHei,sans-serif;
    font-size: 1.5em;
}
footer
{
    font-family: Apple LiSung Light,SimHei,sans-serif;
    font-size: 1em;
    float:left;
    width:90%;
}
a.d-title
{
    text-decoration: none;
    color:royalblue;
    font-size: 1.2em;
}
#tsuki
{
    text-decoration: none;
    color:#fe6570;
    font-size: 1.2em;
}
#matcha
{
    color:#5da41b;
}
#eggtart
{
    color:#ffac12;
}

@media screen and (max-width: 500px){
    li.nav{
        display:table;
        margin-left: -1em;
        line-height: 125%;
    }
    div.logoandtitle{
        width:100%;
        margin:0 0 0 0;
    }
    div.mad{
        width:100%;
        margin-left:6em;
    }
    div.navi{
        width:100%;
    }
    li.nav{
        width:100%;
        float:none;
    }
}