body
{
    background-color: #fdeff2;
    font-size: 100%;
    width:100%;
}
div.top
{
    display:inline;
}
h1
{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5em;
    float:left;
    width:25%;
}
nav
{
    float:left;
    font-size: 2.1875em;
    font-family:'Times New Roman', Times, serif;
    width:auto;
    margin-left: 30px;
}
ul.nav
{
    list-style-type: none;
}
li.nav
{
    display: inline;
}
a.nav:link,a.nav:visited
{
    color:#a44e60;
	font-weight:bold;
	width:140px;
	text-align:center;
	padding:20px;
	text-decoration:none;
}
a.nav:hover,a.nav:active
{
    color:#a44e60;
    background-color: #e9dfe5;
}
a.nav
{
    text-decoration: none;
}
img.logo
{
    float:left;
    width:5%;
    margin-left: 30px;
    margin-top: 1em;
}
a.title:link,a.title:active,a.title:hover,a.title.visited,a.title
{
    text-decoration:none;
    color:black;
}
div.time
{
    float:left;
    width:90%;
    font-size: 1.2em;
    margin-left: 30px;

}
div.side
{
    float:left;
    width:18%;
    padding-left: 2%;
}
div.group
{
    float:left;
    width:70%;
    padding-left: 3%;
}
ul.side{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f7d9e0;
}

li.side a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li.side a.active {
    background-color: #c97586;
    color: white;
}

li.side a:hover:not(.active) {
    background-color: #555;
    color: white;
}
div.img {
    margin: 5px;
    float: left;
    width: 180px;
}
div.img img {
    width: 100%;
    height: auto;
}