body
{
    background-color: #fdeff2;
    font-family:'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    overflow-x: hidden;   
}
div.top
{
    width:100%;
}
div.logo
{
    width:30%;
    float: left;
}
img.logoandtitle
{
    width: 100%;
}
div.navi
{
    margin-left: 10%;
    width:60%;
    display:inline;
    float:left;
    font-size: 2.2em;
    margin-top: 0.5%;
}
li.nav
{
    display: inline;
}
a.nav:link,a.nav:visited
{
    color:#a44e60;
	font-weight:bold;
	text-align:center;
	padding:2.5%;
	text-decoration:none;
}
a.nav:hover,a.nav:active
{
    color:#a44e60;
    background-color: #e9dfe5;
    text-decoration: none;
}
/*section.recent
{
    border:#a44e60 solid 1px;
    height:20em;
    width:50%;
    position:relative;
    left:2.5%;
    top:-3em;
    margin:0 0;
}
section.dust
{
    border:#a44e60 solid 1px;
    width:50%;
    clear:both;
    position:relative;
    left:50%;
    top:-23em;
}
section.moon
{
    border:#a44e60 solid 1px;
    width:50%;
    position:relative;
    left:45em;
    top:-11em;
    margin:0 0;
}*/
div.pics
{
    width:100%;
}
img.main
{
    width:100%;
}
h2.recent
{
    font-size: 2em;
}
h2.dust
{
    font-size: 2em;
}
h2.moon
{
    font-size: 2em;
}
h2.cd
{
    font-size: 2em;
}
div.middle
{
    width:100%;
    float:left;

}
div.left
{
    float:left;
    width:45%;
    padding-left: 5%;
}
div.right
{
    float:left;
    width:50%;
}

div.d
{
    line-height: 100%;
    font-size: 1.2em;
}
div.m
{
    line-height: 100%;
    font-size: 1.2em;
}
img.a1
{
    width:25px;
    float:left;
    margin-top:-0.2em;
}
img.a2
{
    width:25px;
    float:left;
    margin-left:-0.3em;
}
ul.d
{
    list-style-type: none;
    margin-left: -1.5em;
}
div.dcd
{
    line-height:140%;
}
div.moon
{
    width:100%;
}
div.dust
{
    width:100%;
}
div.recent
{
    width:100%;
}
div.Countdown
{
    width:100%;
}
ul.recent
{
    line-height: 200%;
    font-size: 1.2em;
    margin-top: -0.2em;
}
a.recent
{
    text-decoration: none;
    color:#5a79ba;
}
a.row
{
    text-decoration: none;
    color:#5a79ba;
    margin-left: 3%;
}
p.row
{
    padding-left: 3%;
}
a.new
{
    text-decoration: none;
    font-size: 0.7em;
}
p.cd
{
    font-size: 1.2em;
    margin-right: 3em;
    margin-left: 2em;
}
div.zhanwei
{
    width:100%;
    height:5em;
    float:left;
}
hr
{
    border-top:#a44e60 solid 2px;
}
table{
    width:100%;
    float:left;
}
td
{
    width:33%;
    background-color: #d4acad;
}
h2.f
{
    font-size:1.2em;
    padding-left:5%;
    width:25%;
    float:left;

}
p.f
{
    width:70%;
    float:left;
    color: #4f455c;
}
p.p
{
    font-style: italic;
}
footer
{
    float:left;
    width:100%;
    text-align: center;
}
a.foot
{
    text-decoration:none;
    color:#4f455c;
}  
#tsuki
{
    color:#fe6570;
}
#dust
{
    color:#5a79ba;
}
#matcha
{
    color:#5da41b;
}
#xiao
{
    color:rgb(99, 136, 170);
}
#he
{
    color:rgb(57, 169, 76);
}
#hua
{
    color:rgb(224, 104, 104);
}
#eggtart
{
    color:#ffac12;
}
.swiper-container {
    width: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
div.navi-mob
{
    display: none;
}
@media screen and (max-width: 550px){
    div.logo{
        width:100%;
        float:left;
    }
    div.navi{
        display: none;
    }
    div.navi-mob{
        width:100%;
        margin:0;
        display: block;
        float: left;
        font-size: 2em;
	    font-weight:bold;
        margin-top: -10%;
    }
    li.nav-mob{
        list-style-type: none;
    }
    a.nav-mob{
        text-decoration: none;
        color:#a44e60;
    }
    a.nav-mob:visited{
        text-decoration: none;
        color:#a44e60;
    }
    div.pics{
        width:100%;
        float:left;
    }
    div.middle{
        width:100%;
    }
    div.left{
        width:90%;
        padding:0;
        margin:0;
        border:0;
        margin-left:10%;
    }
    div.right{
        width:90%;
        padding:0;
        margin:0;
        border:0;
        margin-left:10%;
    }
    h2.f{
        width:95%;
        padding:0;
        margin:0;
        border:0;
        float:left;
        padding-left: 5%;
        padding-top: 5%;
        text-align: center;
    }
    p.f{
        padding-left:5%;
        width:90%;
        float:left;
        font-size: small;
    }
}