body
{
    background-color: #fdeff2;
}
div.top
{
    width:100%;
    float:left;
}
div.logoandtitle
{
    width:40%;
    float:left;
    height:100%;
    background: url(../images/img_logo.png) no-repeat left center;
    background-size: 5em;
    margin-left:1.5em;
}
div.mad
{
    margin-left:20%;
}
div.navi
{
    width:70%;
    display:inline;
}
h1
{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5em;
    float:left;
    width:80%;
}
nav
{
    font-size: 2.1875em;
    font-family:'Times New Roman', Times, serif;
}
li.nav
{
    display: inline;
}
a.nav:link,a.nav:visited
{
    color:#a44e60;
	font-weight:bold;
	width:140px;
	text-align:center;
	padding:20px;
	text-decoration:none;
}
a.nav:hover,a.nav:active
{
    color:#a44e60;
    background-color: #e9dfe5;
}
a.nav
{
    text-decoration: none;
}
div.pics
{
    text-align: center;
}
img.main
{
    width:100%;
    float:left;
}
img.logo
{
    float:left;
    width:15%;
    margin-left: 1.5em;
    margin-top: 1em;
    vertical-align:middle;
}
a.title:link,a.title:active,a.title:hover,a.title.visited,a.title
{
    text-decoration:none;
    color:black;
}
/*section.recent
{
    border:#a44e60 solid 1px;
    height:20em;
    width:50%;
    position:relative;
    left:2.5%;
    top:-3em;
    margin:0 0;
}
section.dust
{
    border:#a44e60 solid 1px;
    width:50%;
    clear:both;
    position:relative;
    left:50%;
    top:-23em;
}
section.moon
{
    border:#a44e60 solid 1px;
    width:50%;
    position:relative;
    left:45em;
    top:-11em;
    margin:0 0;
}*/
h2.recent
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
h2.dust
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
h2.moon
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
h2.cd
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
div.s
{
    width:100%;
    padding-left: 2em;
    float:left;
}
div.left
{
    float:left;
    width:50%;
    font-family: 'Songti';
}
div.right
{
    float:left;
    width:50%;
    font-family: 'Songti';
}

div.d
{
    line-height: 100%;
    font-size: 1.2em;
}
div.m
{
    line-height: 100%;
    font-size: 1.2em;
}
img.a1
{
    width:25px;
    float:left;
    margin-top:-0.2em;
}
img.a2
{
    width:25px;
    float:left;
    margin-top:0.2em;
}
ul.d
{
    list-style-type: none;
    margin-left: -2em;
}
section.moon
{
    width:100%;
}
section.dust
{
    width:100%;
}
section.recent
{
    width:100%;
}
section.Countdown
{
    width:100%;
}
ul.recent
{
    line-height: 200%;
    font-size: 1.2em;
    margin-top: -0.2em;
}
a.recent
{
    text-decoration: none;
    color:royalblue;
}
a.row
{
    text-decoration: none;
    color:darkslateblue;
}
p.cd
{
    font-size: 1.2em;
    margin-right: 2em;
}
footer
{
    margin-top: 2em;
    float:left;
    width:100%;
    text-align: center;
}
#tsuki
{
    color:#fe6570;
}
#matcha
{
    color:#5da41b;
}
#xiao
{
    color:rgb(99, 136, 170);
}
#he
{
    color:rgb(57, 169, 76);
}
#hua
{
    color:rgb(224, 104, 104);
}
#eggtart
{
    color:#ffac12;
}
@media screen and (max-width: 500px){
    body{
        background-color:red;
    }
  }