body
{
    background-color: #fdeff2;
    font-family:'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    overflow-x: hidden;   
    
}
div.top
{
    width:100%;
}
div.logo
{
    width:30%;
    float: left;
}
img.logoandtitle
{
    width: 100%;
}
div.navi
{
    margin-left: 10%;
    width:60%;
    display:inline;
    float:left;
    font-size: 2.2em;
    margin-top: 0.5%;
}
li.nav
{
    display: inline;
}
a.nav:link,a.nav:visited
{
    color:#a44e60;
	font-weight:bold;
	text-align:center;
	padding:2.5%;
	text-decoration:none;
}
a.nav:hover,a.nav:active
{
    color:#a44e60;
    background-color: #e9dfe5;
    text-decoration: none;
}
div.navi-mob
{
    display: none;
}


div.introduction
{
    float:left;
    width:80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;

    font-weight: bold;
    color:#e08196;
}
div.commento-root
    {
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
    }
@media screen and (max-width: 500px){
    div.logo{
        width:100%;
        float:left;
    }
    div.navi{
        display: none;
    }
    div.navi-mob{
        width:100%;
        margin:0;
        display: block;
        float: left;
        font-size: 2em;
	    font-weight:bold;
        margin-top: -10%;
    }
    li.nav-mob{
        list-style-type: none;
    }
    a.nav-mob{
        text-decoration: none;
        color:#a44e60;
    }
    a.nav-mob:visited{
        text-decoration: none;
        color:#a44e60;
    }
    div.commento-root
    {
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
    }
    div.commento-root-font
    {
        font-size: 2em;
    }
    div.message{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        line-height: 100%;
    }
    div.introduction{
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
        font-size: 1.25em;
    }
}