body
{
    background-color: #fdeff2;
    font-family:'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    overflow-x: hidden;   
    
}
div.title
{
    width:27%;
    float:left;
    /*background: url(../images/img_logo.png) no-repeat left center;*/
    white-space: nowrap;
}
div.top
{
    width:100%;
}
div.logo
{
    width:5%;
    margin-left:2%;
    margin-top: 1%;
    margin-right:1%;
    float:left;
}
div.message
{
    float:left;
    color:#a44e60;
    font-size:1.5em;
    margin-left: 10%;
}
h1
{
    font-size: 2.5em;
    float:left;
    width:80%;
}
img.logo
{
    width:100%;
}
a.title:link,a.title:active,a.title:hover,a.title.visited,a.title
{
    text-decoration:none;
    color:black;
}
div.introduction
{
    float:left;
    width:80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.25em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: bold;
    color:#e08196;
}
div.commento-root
    {
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
    }
@media screen and (max-width: 500px){
    div.commento-root
    {
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
    }
    div.commento-root-font
    {
        font-size: 2em;
    }
    div.message{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        line-height: 100%;
    }
    div.introduction{
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
    }
}