.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  .slides {
    display: none;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
  }
  
  .slides.active {
    display: block;
    opacity: 1;
  }
  